<h4>Hi <%= session[:player_name] %></h4>

The Dealer cards are:
<br>
<!-- <ul>
<li><%= show_card(session[:dealer_cards][0]) %> </li>
</ul> -->
<img src="/images/cards/cover.jpg">
<%=image(session[:dealer_cards][0])%>
<br>
<br>

Your cards are:
<br>
<% session[:player_cards].each do |card| %>
<%=image(card)%>
<% end %>
<br>
<br>
<% if has_ace(session[:player_cards]) %>
  You have an ace! It is currently being valued as 11, would you like to value it instead as 1?
  <br>
  <form action='/ace' method='post'>
    <input type='submit' name='ace' value='Yes'>
    <input type='submit' name='ace' value='No'>
  </form>
<% end %>

Your total is <%= calculate_total(session[:player_cards]) %>

<br>
<br>

Would you like to hit?

<br>
<br>

<form action='/game' method='post'>
<input type='submit' name='button' value='Yes'>
<input type='submit' name='button' value='No'>
</form>
